
# Created by https://www.gitignore.io/api/c

### C ###
# Prerequisites
source/**/*.d

# Object files
source/**/*.o
source/**/*.ko
source/**/*.obj
source/**/*.elf

# Linker output
source/**/*.ilk
source/**/*.map
source/**/*.exp

# Precompiled Headers
source/**/*.gch
source/**/*.pch

# Libraries
source/**/*.lib
source/**/*.a
source/**/*.la
source/**/*.lo

# Shared objects (inc. Windows DLLs)
# source/**/*.dll
source/**/*.so
source/**/*.so.*
source/**/*.dylib

# Executables
source/**/*.exe
source/**/*.out
source/**/*.app
source/**/*.i*86
source/**/*.x86_64
source/**/*.hex

# Debug files
source/**/*.dSYM/
source/**/*.su
source/**/*.idb
source/**/*.pdb

# Kernel Module Compile Results
source/**/*.mod*
source/**/*.cmd
source/**/.tmp_versions/
source/**/modules.order
source/**/Module.symvers
source/**/Mkfile.old
source/**/dkms.conf

# End of https://www.gitignore.io/api/c

source/**/bin/
source/**/obj/
docs/*
!docs/rapport.docx